@font-face {
  font-family: "bold";
  font-style: normal;
  font-weight: 700;
  src:url(sf-pro-display_bold.woff2) format("woff2");
}
@font-face {
  font-family: "medium";
  font-style:normal;
  font-weight:500;
  src:url(sf-pro-display_medium.woff2) format("woff2");
}

@font-face {
 font-family:'regular';
 font-style:normal;
 font-weight:400;
 src:url("sf-pro-display_regular.woff2") format("woff2");
}
@font-face {
 font-family:'textR';
 font-style:normal;
 font-weight:400;
 src:url("sf-pro-text_regular.woff2") format("woff2");
}
